<main>

    {{!-- form --}}
    <div class="container" >
        <div class="row">
            <div class="col-6 offset-3 ">
                <form action="/register" method="POST" enctype="multipart/form-data">
                    <input type="text" name="name" placeholder="Product Name" required>
                    <input type="number" step="0.01" name="price" placeholder="Price" required>
                    <input type="file" name="img" required> <!-- Certifique-se que o nome aqui seja 'img' -->
                    <button type="submit">Register</button>
                 </form>

            </div>
        </div>

    </div>

    {{!-- product lists --}}
    <div class="container">
        <div class="row">
            {{#each products}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src={{product_image}} alt="not found">
                    <div class="texts">
                        <p>{{name}}</p>
                        <p>R${{price}}</p>
                    </div>
                    <a href="/edit/{{ID}}" class="btn btn-warning">edit</a>
                    <a href="/remove/{{ID}}&{{image_url}}" class="btn btn-danger">delete</a>
                </div>
                </div>
            {{/each}}
        </div>
    </div>
</main>